body,
* {
  font-family: sans-serif, Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: 96, 74, 223;
  --dark-primary-color: 51, 29, 177;
}

.header {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(var(--primary-color), 0.1),
      rgba(var(--dark-primary-color), 0.4)
    ),
    url("../../source/images/image-carrousel-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgba(var(--dark-primary-color));
  font-size: 2.5rem;
}

.information {
  margin-top: 20px;
  padding: 50px;
}

.information .content {
  padding-inline: 50px;
}

h2, h3 {
  color: rgba(var(--dark-primary-color));
  text-align: center;
  margin-bottom: 10px;
}

.information .content > p {
  font-size: 1.2rem;
  text-align: center;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
  margin: 0 auto;
  max-width: 1000px;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.activities-table {
  margin-top: 50px;
  margin-inline: 30px;
}

.activities-table table {
  width: 100%;
  border-collapse: collapse;
}

.activities-table table th,
.activities-table table td {
  border: 1px solid rgba(68, 68, 68, 0.164);
  padding: 10px;
}

.activities-table table th {
  background-color: rgba(var(--dark-primary-color), 0.8);
  color: white;
}

.activities-table table tr:nth-child(even) {
  background-color: rgba(var(--primary-color), 0.164);
}

.activities-table table tr:nth-child(odd) {
  background-color: rgba(var(--primary-color), 0.1);
}

.activities-table table tr:hover td {
  background-color: rgba(var(--primary-color), 0.3);
}

.activities-list {
  margin-top: 50px;
  margin-inline: 30px;
}

.activities-list ul {
  list-style-type: none;
}

.activities-list ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.164);
}

.activities-list ul li:hover {
  background-color: rgba(var(--primary-color), 0.3);
}

.footer {
  background-color: rgba(68, 68, 68, 0.164);
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .title { 
    text-align: center;
  }
}